input[type=text] {
    padding: 1em;
    margin: 1em;
    border: none;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: .25em;
    font-size: 1rem;
    width: 100%;
  }
  
  input[type=text]:focus {
    outline: none;
  }